{% extends "_base.html" %}
{% block title %}Inventaire Form{% endblock title %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="inventory_form">

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors|default:'' }}
      {{ hidden_field }}
    {% endfor %}

    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors|default:'' }}

    <div class="inventory-form-header mb-6">
      <div class="row m-0">
        <div class="col p-1 fw-bold" style="max-width:230px">
          Zone:
        </div>
        <div class="col p-1">
          {{ object.zone.name }}
        </div>
        <div class="col p-1 fw-bold" style="max-width:230px">
          N° comptage:
        </div>
        <div class="col p-1">
          {{ object.num_inventory }}
        </div>
        <div class="col p-1 fw-bold" style="max-width:230px">
          Nom de l’agent:
        </div>
        <div class="col p-1">
          {{ object.name_agent }}
        </div>
      </div>
    </div>

    {% for inv_form in form.forms %}
          {% for hidden_field in inv_form.hidden_fields %}
        {{ hidden_field.errors|default:''}}
      {% endfor %}
          
      {% if inv_form.nested %}
      <div class="mt-0 product-line">
        <div class="product-line-details">
              {{ inv_form.management_form }}
              <!-- formset non forms errors -->
              {% for error in inv_form.non_form_errors %}
                  <span style="color: red">{{ error }}</span>
              {% endfor %}
              <div id="lines-{{ forloop.counter0 }}" class="hide_all product d-flex align-items-end justify-content-between px-4"> 
                  {{ inv_form.id }}
                  <div class="col-3 product_field">
                      <label>Article</label>
                      {{inv_form.product}}
                  </div>
                  <div class="col-2 product_delete" style="display: none;">
                      {{inv_form.DELETE}}
                  </div>
                  <div class="col-2 product_internal_ref">
                    <label>Réf Interne</label>
                    <input class="form-control" disabled value="{{inv_form.instance.product.internal_ref }}"></input>
                  </div>
                  <div class="col-2 product_designation">
                    <label>Désignation</label>
                    <input class="form-control" disabled value="{{inv_form.instance.product.designation }}"></input>
                  </div>
                  <div class="col-1 product_uom_sale">
                    <label>Unité Vente</label>
                    <input class="form-control" disabled value="{{inv_form.instance.product.get_sale_uom_display }}"></input>
                  </div>
                  <div class="col-2 product_supplier">
                    <label>Fournisseur</label>
                    <input class="form-control" disabled value="{{inv_form.instance.product.supplier}}"></input>
                  </div>
                  <div class="col-1 productline_delete">
                      <a type="button" class="fa fa-trash text-danger" title="Supprimer article" onclick="_onClickDeleteLine(event,'{{inv_form.instance.pk}}')"></a>
                  </div>            
                </div>
        </div>  
                {{ inv_form.nested.management_form }}
        {{ inv_form.nested.non_form_errors|default:'' }}
        <div class="m-3 mt-0">
          <table class="table w-100 mb-2">
              <thead class="">
                  <th>Lot</th>
                  <th>Quantité</th>
                  <th>Unité </th>
                  <th>Date péremption</th>
                  <th colspan="2"></th>
              </thead>
              <tbody class="lot-lines">
                  <!-- formset non forms errors -->
                  {% for error in inv_form.nested.non_form_errors %}
                      <span style="color: red">{{ error }}</span>
                  {% endfor %}
                  <script type="text/html" id="lotline-template">
                    <tr id="lines-__prefix__" class="lot-line hide_all">
                        {% for field in inv_form.nested.empty_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    
                        {% for field in inv_form.nested.empty_form.visible_fields %}
                          <td {% if field.name == 'DELETE' %} style="display: none;" {% endif %}>
                            {{field}}
                          </td>
                        {% endfor %}
                        <td>
                          <a type="button" class="fa fa-trash text-danger" title="Supprimer lot" onclick="_onClickDeleteLine(event,'{{formss.instance.pk}}')"></a>
                        </td> 
                    </tr>
                  </script>
                  {% for formss in inv_form.nested.forms %}
                      {{ formss.management_form }}
                      <tr id="lot-line-{{ forloop.counter0 }}" class="hide_all lot-line"> 
                          {{ formss.id }}
                          {% for field in formss.visible_fields %}
                              <td {% if field.name == 'DELETE' %} style="display: none;" {% endif%}>
                                  {{field}}
                                  {% for error in field.errors %}
                                      <span style="color: red">{{ error }}</span>
                                  {% endfor %}
                              </td>
                          {% endfor %}
                          <td>
                              <a type="button" class="fa fa-trash text-danger" title="Supprimer lot" onclick="_onClickDeleteLine(event,'{{formss.instance.pk}}')"></a>
                          </td>            
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          <a href="#" class="fa fa-plus-square fs-5 add-lotline text-decoration-none mx-1"></a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    <hr>
    <p>
      <button class="btn btn-success" type="submit">Enregistrer</button>
      &nbsp; &nbsp;
      <a href="{{ objectf.get_absolute_url  }}">Annuler</a>
    </p>
  </form>
{% endblock content %}


