{% extends "_base.html" %}
{% block title %}Inventaires{% endblock title %}
{% block content %}
{% if request.GET.not_found %}
<span>
    NOT FOUND
</span>
{% endif %}
<div class="d-flex justify-content-between">
<a href="{% url 'inventory_create' %}" class="btn btn-primary float-left" role="button" aria-disabled="true">Créer</a>
<form class="form-inline my-2 my-lg-0 d-flex">
    <select class="form-select" name="selectzone">
        <option value="zone">Zone</option>
    </select>
    <select class="form-select" name="selectcomptage">
        <option value="zone">Zone</option>
    </select>
    <input name="q" class="form-control mr-sm-2 mx-1" type="search" focus value="{{request.GET.q}}" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
<table class="table table-hover">
    <thead style="position: sticky;top: 0;background-color: white;">
      <tr>
        <th scope="col">Zone</th>
        <th scope="col">Nombre de comptage</th>
        <th scope="col">Réf Interne</th>
        <th scope="col">Ancien réf</th>
        <th scope="col">Désignation</th>
        <th scope="col">Unité de vente</th>
        <th scope="col">Fournisseur</th>
        <th scope="col">Quantité</th>
        <th scope="col">Lot</th>
        <th scope="col">Date péremption</th>
        <th scope="col" style="width: 80px;"></th>
      </tr>
    </thead>
    <tbody>
        {% for inv in inventory_list %}
            <tr style="background-color: azure;">
                <td scope="col"><a>{{inv.zone.name}}</a></td>
                <td scope="col">{{inv.num_inventory}}</td>
                <td scope="col">{{inv.product.internal_ref}}</td>
                <td scope="col">{{inv.product.old_ref}}</td>
                <td scope="col">{{inv.product.supplier}}</td>
                <td scope="col">{{inv.product.sale_uom}}</td>
                <td scope="col" colspan="4"></td>
                <td scope="col">
                    <a href="{% url 'inventory_update' inv.id %}" class="fa fa-edit p-2" title="Modifier"></a>
                    <a type="button" class="fa fa-trash text-danger btn-delete-inventory" onclick="_onClickDeleteInventory('{{inv.id}}')" title="Supprimer"></a>
                </td> 
            </tr>
            {% for inv_line in inv.inventory_lines.all %}
            <tr>
                <td scope="col" colspan="6"></td>
                <td scope="col">{{inv_line.quantity}}</td>
                <td scope="col">{{inv_line.quantity_uom}}</td>
                <td scope="col">{{inv_line.lot}}</td>
                <td scope="col">{{inv_line.expiration_date}}</td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
  </table>
  <div  title="Supprimer l'inventaire" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Continuer ?</p>
  </div>

  <div class="modal" id="dialog-delete" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Suppression de l'inventaire</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirmer ?</p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary btn-confirm">Oui</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
