{% extends "_base.html" %}
{% block title %}Inventaires{% endblock title %}
{% block content %}
<div class="inventory-list">
  <div class="d-flex justify-content-between mb-2 py-4">
    <div class="">
      <a href="{% url 'inventory_create' %}" class="btn btn-primary float-left" role="button"
        aria-disabled="true">Créer</a>
      <div class="btn-group dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" onclick="_onClickinventoryAction('delete')">Supprimer</a></li>
          <li><a class="dropdown-item" href="#" onclick="_onClickinventoryAction('export')">Exporter</a></li>
          <li><a class="dropdown-item" href="#" onclick="_onClickinventoryAction('compare')">Comparer</a></li>
        </ul>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0 d-flex">
      {{ search_form.zone.label_tag }}
      {{ search_form.zone }}
      {{ search_form.num_inv.label_tag }}
      {{ search_form.num_inv }}
      {{ search_form.product_ref.label_tag }}
      {{ search_form.product_ref }}
      <button class="btn btn-outline-success my-2 my-sm-0 me-1" type="submit">Search</button>
      <button class="btn btn-outline-info my-2 my-sm-0" onclick="_seachform_clear(event)">Clear</button>
    </form>
  </div>
  <table class="table table-hover">
    <thead style="position: sticky;top: 0;">
      <tr>
        <th scope="col">Zone</th>
        <th scope="col"># comptage</th>
        <th scope="col">Réf Interne</th>
        <th scope="col">Ancien réf</th>
        <th scope="col">Désignation</th>
        <th scope="col">UV</th>
        <th scope="col">Fournisseur</th>
        <th scope="col">Lot</th>
        <th scope="col">Quantité</th>
        <th scope="col">Unité</th>
        <th scope="col">Date péremption</th>
        <th scope="col" style="width: 80px;"></th>
      </tr>
    </thead>
    <tbody>
      {% for inv in inventory_list %}
      <tr class="inv-line">
        <td scope="col"><b>{{inv.zone.name}}</b></td>
        <td scope="col"><b>{{inv.num_inventory}}</b></td>
        <td scope="col" colspan="9"></td>
        <td scope="col">
          <div class="d-flex align-items-center">
            <a href="{% url 'stock_comparison' inv.id %}" class="fa fa-code-compare p-2 text-decoration-none" title="Comparer"></a>
            <a href="{% url 'inventory_update' inv.id %}" class="fa fa-edit p-2 text-decoration-none" title="Modifier"></a>
            <input class="inv-line-checkbox m-2" data-id="{{inv.id}}" type="checkbox"></input>
          </div>
        </td>
      </tr>
      {% for prodline in inv.inventory_product_lines.all %}
      {% if searched_product_ids == None or prodline.product.id in searched_product_ids %}
      <tr class="prod-line">
        <td scope="col" colspan="2"></td>
        <td scope="col">{{prodline.product.internal_ref}}</td>
        <td scope="col">{{prodline.product.old_ref}}</td>
        <td scope="col">{{prodline.product.designation}}</td>
        <td scope="col">{{prodline.product.get_sale_uom_display}}</td>
        <td scope="col">{{prodline.product.supplier}}</td>
        <td scope="col" colspan="5"></td>
      </tr>
      {% for lotline in prodline.product_lot_lines.all %}
      <tr class="lot-line">
        <td scope="col" colspan="7"></td>
        <td scope="col">{{lotline.lot}}</td>
        <td scope="col">{{lotline.quantity}}</td>
        <td scope="col">{{lotline.get_quantity_uom_display}}</td>
        <td scope="col">{{lotline.expiration_date|default_if_none:''}}</td>
        <td scope="col"></td>
      </tr>
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}