{% extends "_base.html" %}
{% block title %}Inventaire Form{% endblock title %}
{% block content %}
<form enctype="multipart/form-data" class="container" method="post" id="product_form">
    {% csrf_token %}
    <!-- main form start --- in our case product form -->
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Add Products</h4>
        </div>
        <div style="margin: 1% 20%;">
        {% for field in form %}
            <div class="row m-0">
                <div class="col p-1">{{field.label}}
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}
                </div>
                <div class="col p-1">
                  {{field}}
                  {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
    <!-- main form end --- in our case product form -->

    {% with named_formsets.lines as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="lines-template">
            <tr id="lines-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
            
                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
        </script>
        <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">Add lines</h4>
            </div>
            <table class="table card-header">
                <thead class="text-secondary">
                    <th>Quantité<span style="color: red;" class="required">*</span></th>
                    <th>Unité <span style="color: red;" class="required">*</span></th>
                    <th>Date péremption<span style="color: red;" class="required">*</span></th>
                    <th>Lot</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody id="item-lines">
                    <!-- formset non forms errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="lines-{{ forloop.counter0 }}" class= hide_all> 
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                    
                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                </td>
                            {% endfor %}
                            {% comment %} for delete {% endcomment %}
                                <td>
                                    <a type="button" class="fa fa-trash" data-bs-toggle="modal" data-bs-target="#exampleModal{{formss.instance.pk}}"></a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                            </div>
                                            <div class="modal-footer">
                                              {% if formss.instance.pk %}
                                                <a href="{% url 'delete_line' formss.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                                              {% endif %}
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" id="add-variant-button" class="btn btn-secondary add-lines">Add More</a> <!-- id="add-inlineformsetname-button" -->
        </div>
        
        {% endwith %}

        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
        </div>
</form>
        
{% endblock content %}
