{% extends "_base.html" %}
{% block title %}Inventaires{% endblock title %}
{% block content %}
<div class="stockcomparison-listview">
  <div class="mb-2">
    {% csrf_token %}
    <a onclick="_onClickImportStock(event)" class="btn btn-primary float-left" role="button"
      aria-disabled="true">Importer</a>
    <a onclick="_onClickUpdateStock(event)" class="btn btn-success" role="button" style="display: none;"
      aria-disabled="true">Enregistrer</a>
  </div>
  <table class="table table-hover">
    <thead style="position: sticky;top: 0;background-color: white;">
      <tr>
        <th scope="col">Réf Interne</th>
        <th scope="col">Ancien réf</th>
        <th scope="col">Désignation</th>
        <th scope="col">Lot</th>
        <th scope="col">Date péremption</th>
        <th scope="col">Fournisseur</th>
        <th scope="col">UM Vente</th>
        <th scope="col">UM Quantité</th>
        <th scope="col">Quantité inventaire</th>
        <th scope="col">Quantité Système</th>
        <th scope="col">Ecart</th>
      </tr>
    </thead>
    <tbody>
      {% for line in lines %}
        <tr class="inv-line" stock-line-id="{{line.stock_line_id}}" lot-line-id="{{line.lotline_id}}">
          <td scope="col">{{line.internal_ref}}</td>
          <td scope="col">{{line.old_ref}}</td>
          <td scope="col">{{line.designation}}</td>
          <td scope="col">{{line.lot}}</td>
          <td scope="col">{{line.expiration_date|default_if_none:''}}</td>
          <td scope="col">{{line.supplier}}</td>
          <td scope="col">{{line.sale_uom}}</td>
          <td scope="col">{{line.quantity_uom}}</td>
          <td scope="col" class="qty-inv numeric-cell">{{line.quantity|floatformat:2}}</td>
          <td scope="col"><input  step="1" onchange="_onChangeSystemQty(event)" class="form-control w-50 qty-sys numeric-cell" value={{line.quantity_system|floatformat:2}}></input></td>
          <td scope="col" class="numeric-cell stock-ecart {% if line.ecart %} text-danger {% endif %}">{{line.ecart|floatformat:2}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}