.inventory-list{
    .inv-line {
        border-top: 2px solid black;
        background-color: azure;
    }
    #id_zone{
        width: 200px;
        margin-right: 4px;
    }
    #id_num_inv{
        width: 100px;
        margin-right: 4px;
    }
    #id_product_ref{
        width: 200px;
        margin-right: 4px;
    }
    label {
        font-weight: bold;
        line-height: 2em;
        padding: 0 10px;
    }
}

.inventory_form {
    .search_product {
        width: 18%;
    }
    .product_uom_sale {
        width: 12%;
    }
    .productline_delete {
        text-align: center;
        vertical-align: middle;
    }
}