.inventory-list{
    .inv-line {
        border-top: 2px solid black;
        /* background-color: azure; */
    }
    #id_zone{
        width: 200px;
        margin-right: 4px;
    }
    #id_num_inv{
        width: 100px;
        margin-right: 4px;
    }
    #id_product_ref{
        width: 200px;
        margin-right: 4px;
    }
    label {
        font-weight: bold;
        line-height: 2em;
        padding: 0 10px;
    }
    .table > thead{
        background-color: #c3e0fc;
    }
    .lot-line td:nth-child(2){
        border-left: 1px solid lightblue;
    }
}

.inventory_form {
    .inventory-form-header{
        border-bottom: 2px solid black;
        margin: 20px 0;
        padding: 10px 0px;
    }
    .product-line{
        outline-style: auto;
        outline-color: #e3e1e1;
        border-radius: 10px;
        margin: 20px 0;
    }
    .product-line-details{
        padding: 10px 0 28px 0;
        background-color: rgba(0,0,0,.075);
        .form-control{
            background-color: white;
        }
    }
    .search_product {
        width: 22%;
        .fa-search:before {
            vertical-align: sub;
        }
    }
    .product_uom_sale {
        width: 12%;
    }
    .productline_delete {
        text-align: center;
        vertical-align: middle;
        width: 3%;
    }
    .lot-line td:last-child{
        text-align: center;
    }
    .custom-combobox-toggle{
        color: black;
        width: 20px;
        text-align: center;
        margin: auto;
        transform: translateX(-125%);
        padding: 8px;
        background: white;
    }
}

.stockcomparison-listview {
    .stock-ecart-red{
        color: #ff0019;
        font-weight: bold;
    }
    .qty-inv, .qty-sys{
        text-align: center;
        vertical-align: middle;
    }
}

.inventory-compare {
    form > label {
        text-wrap: nowrap;
        font-weight: bold;
        margin-right: 10px;
    }
    form > select {
        margin-right: 10px;
        width: 350px;
    }
    form > #id_zone{
        width: 150px;
    }
    .table > thead {
        background-color: #c3e0fc;
    }
}