{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Bookstore{% endblock title %}</title>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">


    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel = "icon" href="{% static 'images/2818757.png' %}" type = "image/x-icon"> 
    <script src="{% static 'js/base.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
  </head>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;margin-bottom: 20px;">
        <a class="navbar-brand fa fa-home" href="/" title="HOME"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'inventory_list_view' %}">Inventaires</a>
            {% if user.is_authenticated %}
                <a class="nav-item nav-link">Your are logged in as <b>{{ user.email }}</b></a>
                <a class="nav-item nav-link" data-toggle="modal" data-target="#exampleModal">
                    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Log Out
                  </button>
                </a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'account_login' %}">Log In</a>
                <a class="nav-item nav-link" href="{% url 'account_signup' %}">Sign up</a>
            {% endif %}
          </div>
        </div>
    </nav>
    
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Logging out</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Are you sure yout want to log out ?
          </div>
          <div class="modal-footer">
              <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Log out</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
          </div>
      </div>
  </div>

 
</html>